<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Welcome 
    <% if user_signed_in? %>
    back
    <% end %>
    to Taco Maniaco<% if user_signed_in? %>, <%=@user.name%>
    <% end %>!</h1>
  </div>
  <% unless user_signed_in? %>
  <div class="mt-5 ml-2">
  Please Sing Up, or Log in!
  </div>
  <% end %>
  <% if user_signed_in? %>
  <div id="users" class="min-w-full">
    <%= render @users %>
  </div>
  <% end %>
</div>
