<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing recipie food</h1>

  <%= render "form", recipie_food: @recipie_food, recipe: @recipe %>
  <%= link_to "Back to recipie foods", recipe_path(params[:recipe_id]), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
