<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-white">Add ingridient</h1>

  <%= render "form", recipie_food: @recipie_food, recipe: @recipe %>

  <%= link_to 'Back to recipe', url_for(:back), class: "rounded-full text-neutral-500 py-3 ml-2 px-5 bg-gray-100 inline-block font-medium hover:text-yellow-600 cursor-pointer" %>
</div>
